[Unit]
Description=ACME Responder
After=acmeresponder.socket

[Service]
ExecStart=/usr/sbin/acmeresponder
EnvironmentFile=/etc/dehydrated/config
User=nobody
Restart=always
