[Unit]
Description=ACME Responder

[Service]
ExecStart=/usr/sbin/acmeresponder
User=dehydrated
Restart=always
StandardOutput=syslog
StandardError=syslog
